<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Details</title>
</head>
<body>
<h2>Animal Details:</h2>
<table border="1">
    <thead align="center">
    <td>Id</td>
    <td>Name</td>
    <td>Description</td>
    <td colspan="2">Care Takers</td>
    </thead>
    <tr>
        <td th:text="${animal.id}" th:rowspan="${animal.careTakers.size()}">12</td>
        <td th:text="${animal.name}" th:rowspan="${animal.careTakers.size()}">Tiger</td>
        <td th:text="${animal.description}" th:rowspan="${animal.careTakers.size()}">Bengali predator</td>
        <td>
            <table>
                <th:block th:if="${animal.careTakers!=null}">
                    <th:block th:each="careTaker : ${animal.careTakers}">
                        <tr>
                            <td th:object="${careTaker}">
                                Id: <span th:text="*{id}">13</span>,
                                Name: <span th:text="*{name}">Adam</span>.
                            </td>
                            <td>
                                <a href="#" th:href="@{'/web/animal/remove/'+${careTaker.id}}">Remove</a>
                            </td>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </table>
        </td>
    </tr>
</table>
<p></p>
<hr>
<p></p>
<h3>Add a new Care Taker to the Animal
    <th:block th:text="${animal.name}"></th:block>
    (id=
    <th:block th:text="${animal.id}"></th:block>
    )
    :
</h3>
<form action="#" th:action="@{/web/animal/list/{id}(id=${animal.id})}" th:object="${careTaker}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Action:</td>
            <td><input type="submit" value="Submit"/><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
<p></p>
<hr>
<p></p>
<a href="#" th:href="@{/web/animal/list}">Animal List</a>
<p></p>
<a href="#" th:href="@{/}">Back to home page</a>
</body>
</html>