<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals List</title>
</head>
<body>
<h2>Animals List:</h2>
<table border="1">
    <thead align="center">
    <td>Id</td>
    <td>Name</td>
    <td>Description</td>
    <td colspan="2">Actions</td>
    </thead>
    <th:block th:each="animal : ${animals}">
        <tr>
            <td th:text="${animal.id}">12</td>
            <td>
                <a href="#" th:href="@{'/web/animal/list/'+${animal.id}}" th:text="${animal.name}">Tiger</a>
            </td>
            <td th:text="${animal.description}">Bengali predator</td>
            <td>
                <a href="#" th:href="@{'/web/animal/update/'+${animal.id}}">Update</a>
            </td>
            <td>
                <a href="#" th:href="@{'/web/animal/delete/'+${animal.id}}">Delete</a>
            </td>
        </tr>
    </th:block>
</table>
<hr>
<p></p>
<a href="#" th:href="@{/web/animal/add}">Add Animal</a>
<p></p>
<th:block lang="en" th:replace="fragments/footer :: footer"></th:block>
</body>
</html>