<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block lang="en" th:replace="fragments/header_footer :: header"></th:block>
<p></p>
<hr>
<p></p>
<div layout:fragment="content"></div>
<p></p>
<hr>
<p></p>
<h3>Add a new Care Taker to this Animal</h3>
<form action="#" th:action="@{/web/animal/list/{id}(id=${animal.id})}" th:object="${careTakerCreateDTO}" method="post">
    <th:block lang="en" th:replace="fragments/entities_form_fragment :: careTaker_form_fragment"></th:block>
</form>
<p></p>
<hr>
<p></p>
<a href="#" th:href="@{'/web/animal/list/'+${animal.id}+'/link/'}">Link this Animal to an existing Care Taker</a>
<p></p>
<hr>
<p></p>
<a href="#" th:href="@{/web/animal/list}">Animals List</a>
<p></p>
<th:block lang="en" th:replace="fragments/header_footer :: footer"></th:block>

</body>
</html>