<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Care Taker Form</title>
</head>
<body>
<h2>Care Taker Form:</h2>
<form action="#" th:action="@{/web/careTaker/save}" th:object="${careTaker}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Action:</td>
            <td><input type="submit" value="Submit"/><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
</body>
</html>