<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Care Takers List</title>
</head>
<body>
<h2>Care Takers List:</h2>
<table border="1">
    <thead align="center">
    <td>Id</td>
    <td>Name</td>
    <td colspan="2">Actions</td>
    </thead>
    <th:block th:each="careTaker : ${careTakers}">
        <tr>
            <td th:text="${careTaker.id}">12</td>
            <td>
                <a href="#" th:href="@{'/web/careTaker/list/'+${careTaker.id}}" th:text="${careTaker.name}">Adam
                    Kucera</a>
            </td>
            <td>
                <a href="#" th:href="@{'/web/careTaker/update/'+${careTaker.id}}">Update</a>
            </td>
            <td>
                <a href="#" th:href="@{'/web/careTaker/delete/'+${careTaker.id}}">Delete</a>
            </td>
        </tr>
    </th:block>
</table>
<hr>
<p></p>
<a href="#" th:href="@{/web/careTaker/add}">Add Care Taker</a>
<p></p>
<a href="#" th:href="@{/}">Back to home page</a>
</body>
</html>