<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Care Taker Details</title>
</head>
<body>
<h2>Care Taker Details:</h2>
<table border="1">
    <thead align="center">
    <td>Id</td>
    <td>Name</td>
    <td>Animals</td>
    </thead>
    <tr>
        <td th:text="${careTaker.id}">12</td>
        <td th:text="${careTaker.name}">Adam</td>
        <td>
            <th:block th:if="${careTaker.animals!=null}">
                <th:block th:each="animal : ${careTaker.animals}">
                    <div th:object="${animal}">
                        Id: <span th:text="*{id}">13</span>,
                        Name: <span th:text="*{name}">Tiger</span>
                    </div>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
<p></p>
<hr>
<p></p>
<h3>Add a new Animal to the Care Taker
    <th:block th:text="${careTaker.name}"></th:block>
    (id=
    <th:block th:text="${careTaker.id}"></th:block>
    )
    :
</h3>
<form action="#" th:action="@{/web/careTaker/list/{id}(id=${careTaker.id})}" th:object="${animal}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Action:</td>
            <td><input type="submit" value="Submit"/><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
<p></p>
<hr>
<p></p>
<a href="#" th:href="@{/web/careTaker/list}">Care Takers List</a>
<p></p>
<a href="#" th:href="@{/}">Back to home page</a>
</body>
</html>