<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Care Takers List</title>
</head>
<body>
<h2>Care Takers List:</h2>
<table border="1">
    <thead>
    <td>Id</td>
    <td>Name</td>
    <td>Animals</td>
    </thead>
    <th:block th:each="careTaker : ${careTakers}">
        <tr>
            <td>
                <a href="#" th:href="@{/web/careTakers/${careTaker.id}}" th:text="${careTaker.id}">12</a>
            </td>
            <td th:text="${careTaker.name}">Adam</td>
            <td>
                <th:block th:if="${careTaker.animals!=null}">
                    <th:block th:each="animal : ${careTaker.animals}">
                        <div th:object="${animal}">
                            Id: <span th:text="*{id}">13</span>,
                            Name: <span th:text="*{name}">Tiger</span>
                        </div>
                    </th:block>
                </th:block>
            </td>
        </tr>
    </th:block>
</table>
<hr>
<p></p>
<a href="#" th:href="@{/web/careTakers}">Add Care Taker</a>
<p></p>
<a href="#" th:href="@{/index.html}">Back to home page</a>
</body>
</html>