<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/animal_details_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Details</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Animal Details:</h2>
    <table border="1">
        <thead align="center">
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td colspan="2">Care Takers</td>
        </thead>
        <tr>
            <td th:text="${animal.id}">11</td>
            <td th:text="${animal.name}">Tiger
            </td>
            <td th:text="${animal.description}">Bengali predator</td>
            <td>
                <table>
                    <th:block th:if="${animal.careTakers!=null}">
                        <th:block th:each="careTaker : ${animal.careTakers}">
                            <tr>
                                <td th:object="${careTaker}">
                                    Id: <span th:text="*{id}">13</span>,
                                    Name: <span th:text="*{name}">Adam</span>.
                                </td>
                                <td>
                                    <a href="#"
                                       th:href="@{'/web/animal/'+${animal.id}+'/careTaker/'+${careTaker.id}+'/remove'}">Remove</a>
                                </td>
                                </td>
                            </tr>
                        </th:block>
                    </th:block>
                </table>
            </td>
        </tr>
    </table>
    <p></p>
    <hr>
    <p></p>
    <h3>Add an existing Care Taker by id to this Animal</h3>
    <form action="#" th:action="@{/web/animal/list/{id}/link(id=${animal.id})}"
          th:object="${careTakerLinkIdDto}" method="post">
        <table>
            <tr>
                <td>Id:</td>
                <td><input type="text" th:field="*{id}"/></td>
                <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
            </tr>
            <tr>
                <td>Action:</td>
                <td><input type="submit" value="Submit"/><input type="reset" value="Reset"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>